[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "cd Core && gunicorn codenet_server_v3:app --bind 0.0.0.0:$PORT --workers 2 --timeout 120"
